body {
  font-family: "Roboto", sans-serif;
  color: #2b2b2b;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(254, 255, 165) 0%,
    rgb(255, 232, 182) 90%
  );
}

body {
  font-family: arial, sans-serif;
}

h1 {
  color: white;
  margin-bottom: 5px;
  font-size: 30px;
  line-height: 30px;
}

ul {
  margin-bottom: 30px;
  padding: 0;
}

li {
  list-style: none;
  line-height: 25px;
  font-size: medium;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.wrap-all {
  max-width: 700px;
  margin: 30px auto;
}

.weather-app {
  color: white;
  max-width: 700px;
  margin: 30px auto;
  padding: 30px;
  border: 3px dotted #1b4de3;
  border-radius: 30px;
  background-image: url("../images/clouds.jpg");
}

.wrap-top {
  background-color: rgba(240, 255, 255, 0.114);
}

.color-button {
  background-color: #1b4de3;
  color: white;
}

.color-button:hover {
  background-color: #2b3ee2;
  color: white;
}

.weather-element img {
  margin-right: 20px;
}

.weather-element strong {
  font-size: 55px;
  color: #1b4de3;
}

.weather-element .units {
  position: relative;
  font-size: 15px;
  top: -30px;
  color: white;
}

.weather-element .active {
  color: white;
  cursor: default;
  text-decoration: none;
}

.weather-element .active:hover {
  text-decoration: none;
}

.weather-forecast {
  color: #1b4de3;
  margin: 3px;
  text-align: center;
}

.hover:hover {
  color: #1b4de3;
  background-color: rgba(255, 255, 0, 0.115);
  border-radius: 10px;
}

.weather-forecast-date {
  font-size: 20px;
  font-weight: normal;
  color: #2b2b2b;
}

.weather-forecast-temperatures {
  font-size: 25px;
}

.weather-forecast-min {
  font-size: 20px;
  opacity: 0.9;
}

.contact,
.github {
  color: #1b4de3;
}

#temp-result {
  color: white;
}

#fahrenheit-link {
  color: white;
  text-decoration: none;
}

#full-date {
  color: white;
}
#transcription {
  font-weight: 700;
  text-transform: capitalize;
}
