body {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: arial, sans-serif;
}

h1 {
  color: rgba(11, 11, 234, 0.915);
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 60px;
}

ul {
  margin-bottom: 30px;
  padding: 0;
}

li {
  list-style: none;
  line-height: 25px;
  font-size: medium;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.wrap-all {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border: 7px dotted #2028c2;
  border-radius: 30px;
}

.weather-element img {
  margin-right: 20px;
}

.weather-element strong {
  font-size: 55px;
  color: #2028c2;
}

.weather-element .units {
  position: relative;
  font-size: 15px;
  top: -30px;
}

.weather-element .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather-element .active:hover {
  text-decoration: none;
}

#transcription {
  font-weight: 700;
  text-transform: capitalize;
}
